In [3]:
%pip install --upgrade pip

%pip install -q -r requirements.txt

Requirement already satisfied: pip in ./.venv/lib/python3.12/site-packages (25.0.1)
Note: you may need to restart the kernel to use updated packages.
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

print('Libraries loaded')
print('Pandas version:', pd.__version__)
print('Numpy version:', np.__version__)
print("MatPlotLib", plt.matplotlib.__version__)

Libraries loaded
Pandas version: 2.2.3
Numpy version: 2.2.4
MatPlotLib 3.10.1

In [ ]:
file_path = "./data/car_hire.csv"
df = pd.read_csv(file_path)

# d.head(5)
# d.info()

# d.describe()

In [10]:
# How many rows and columns are in the dataset?
df.shape

(108974, 23)

In [11]:
# What are the unique values in the License Type column?

df['License Type'].unique()

array(['FOR HIRE VEHICLE'], dtype=object)

In [16]:
# How many rows have missing (NaN) values in the Certification Date column?
df['Certification Date'].isna().sum()

# Output is 'np.int64' just means it's stored as a NumPy 64-bit integer â€” but the value is still 105038 in decimal form

np.int64(105038)

In [15]:
# Convert the 'Expiration Date' column to datetime format
df["Expiration Date"] = pd.to_datetime(df["Expiration Date"], errors="coerce")

# Filter out rows with invalid or missing expiration dates
filtered_df = df[df["Expiration Date"].notnull()]

# Extract year and month from expiration date
filtered_df["Expiration Year"] = filtered_df["Expiration Date"].dt.year
filtered_df["Expiration Month"] = filtered_df["Expiration Date"].dt.month_name()

# Group by year and month to get a count of expiring licenses
expiration_breakdown = (
    filtered_df.groupby(["Expiration Year", "Expiration Month"])
    .size()
    .reset_index(name="Count")
)

# Display the result
print(expiration_breakdown)

    Expiration Year Expiration Month  Count
0              2024           August   2006
1              2024         December   5024
2              2024             July    235
3              2024         November   4449
4              2024          October   4813
5              2024        September   3246
6              2025            April   4423
7              2025           August   4045
8              2025         December   5991
9              2025         February   2990
10             2025          January   3696
11             2025             July   4264
12             2025             June   4792
13             2025            March   4198
14             2025              May   4465
15             2025         November   3950
16             2025          October   4215
17             2025        September   3756
18             2026            April   4670
19             2026           August   2531
20             2026         February   5021
21             2026          January   8450
22             2026             July   3298
23             2026             June   3968
24             2026            March   4994
25             2026              May   4363
26             2026          October     84
27             2026        September   1034
28             2027            April      1
29             2027            March      2

In [19]:
result = df[
    (df["Expiration Date"].notnull()) & (df["Expiration Date"].dt.year == 2025)
    ]

result.head(5)

,Active,Vehicle License Number,Name,License Type,Expiration Date,Permit License Number,DMV License Plate Number,Vehicle VIN Number,Wheelchair Accessible,Certification Date,...,Base Name,Base Type,VEH,Base Telephone Number,Website,Base Address,Reason,Order Date,Last Date Updated,Last Time Updated
0,YES,5341911,"KM,LIMO,SERVICE,INC",FOR HIRE VEHICLE,2025-08-24,NaN,T101517C,4T1B11HKXKU169905,NaN,NaN,...,SDR TRANSPORTATION CORP.,BLACK-CAR,NaN,(718)863-0002,NaN,3800 EAST TREMONT AVENUE #2 BRONX NY 10465,G,NaN,07/21/2024,13:25
1,YES,5632081,VENTURE LEASING LLC,FOR HIRE VEHICLE,2025-08-14,NaN,T745292C,4T1G11AK5MU569485,NaN,NaN,...,"UBER USA, LLC",BLACK-CAR,NaN,(646)780-0129,NaN,1515 THIRD STREET SAN FRANCISCO CA 94158,G,NaN,07/21/2024,13:25
4,YES,5775002,"RIGO,LIMO-AUTO,CORP",FOR HIRE VEHICLE,2025-04-12,NaN,T724802C,3GNAXJEG5PL255260,NaN,NaN,...,"UBER USA, LLC",BLACK-CAR,NaN,(646)780-0129,NaN,1515 THIRD STREET SAN FRANCISCO CA 94158,G,NaN,07/21/2024,13:25
6,YES,6042324,DAVITCARE CORP,FOR HIRE VEHICLE,2025-10-02,NaN,T122085C,NM0GE9E20N1535083,WAV,NaN,...,"UBER USA, LLC",BLACK-CAR,WAV,(646)780-0129,NaN,1515 THIRD STREET SAN FRANCISCO CA 94158,G,NaN,07/21/2024,13:25
8,YES,5976951,"NUNEZ,SANDY,M",FOR HIRE VEHICLE,2025-08-13,NaN,T799937C,4T1BF1FKXGU130971,NaN,NaN,...,ABSOLUTE CAR SERVICE CORP.,BLACK-CAR,NaN,(718)792-9222,NaN,729 BURKE AVENUE SUITE - A BRONX NY 10467,G,NaN,07/21/2024,13:25